@media screen and (min-width: 480px) {
    .container {
        max-width: 428px;
    }
    .container.container-mini {
    max-width: 296px;
    }
    .hero {
    background-image: var(--gra), url(../images/hero-bg-tablet.jpg);
    }
    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        .hero {
        background-image: var(--gra), url(../images/hero-bg-tablet-2x.jpg);
            }
        }
    .hero-container {
        max-width: 100%;
    }
    .subsribe-input {
    width: 396px;
    }
    .mob-menu-tel {
    font-weight: 600;
    font-size: 36px;
    line-height: 1.11;
    }
    .mob-menu-social-list {
        gap: 56px;
    }
}